@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    margin: 20px;
    padding: 50px;
}

img {
    width: 600px;
    height: 600px;
    margin: 2px;
}

.image {
    text-align: center;
}

h2 {
    text-align: left;
    padding: 0px;
    margin: 20px;
}