<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbies</title>
</head>
<body>
    <p>hobbies works!</p>
    <hr/>
    <h1>My Hobbies</h1>
    <div class="container">
        <div class="card">
            <h2>{{this.hobbie.title}}</h2>
            <div>{{this.hobbie.description}}</div>
            <br>
            <img src="../../assets/images/image_1.jpg" />
            <img src="../../assets/images/image_2.jpg" />
            <iframe width="560" height="315" src="https://www.youtube.com/embed/el3ABBwAKLc" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <h2>{{this.hobbie_2.title}}</h2>
            <div>{{this.hobbie_2.description}}</div>
            <br>
            <img src="../../assets/images/image_3.jpg" />
            <img src="../../assets/images/image_4.jpg" />
            <iframe width="560" height="315" src="https://www.youtube.com/embed/KLMhVJlOb3E" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <h2>{{this.hobbie_3.title}}</h2>
            <div>{{this.hobbie_3.description}}</div>
            <br>
            <img src="../../assets/images/cat_1.jpg" />
            <img src="../../assets/images/cat_2.jpg" />
            <img src="../../assets/images/cat_3.jpg" />
            <img src="../../assets/images/cat_4.jpg" />
            <iframe width="560" height="315" src="https://www.youtube.com/embed/bktjM0OiiWc" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    
    <div class="resume">    
        <br>    
        <hr>    
        <h1>Резюме</h1>
        <div>
            
        </div>

    </div>
    

</body>
</html>

